@page "/"
@using FrasesCurtas.Models
@inject FrasesCurtas.Services.IFraseService FraseService
@using FrasesCurtas.Componentes;

<PageTitle>Frases</PageTitle>

    <ListaPaginada Dados="frases">
      <ConteudoCabecalho>
        <tr>
          <th>Identificador</th>
          <th>Frase</th>
          <th>Autor</th>
          <th>Data Cadastro</th>
          <th>Arquivada?</th>
        </tr>
      </ConteudoCabecalho>
      <ConteudoPrincipal>
          <tr>
            <td>@context.Id</td>
            <td>@context.Descricao</td>
            <td>@context.Autor?.Nome</td>
            <td>@context.DataCadastro</td>
            <td>@context.Arquivada</td>
            </tr>
      </ConteudoPrincipal>
    </ListaPaginada>
  


@code {

    //List<Frase> frases = new();
    private IQueryable<Frase> frases;

    // ao inicializar busca todas frases
    protected override async Task OnInitializedAsync() { frases = await FraseService.BuscarTodas(); }
}